<div class="jumbotron">

<div class="text-center mb-4">
<img src="{{book.image}}" alt="Book Cover" >
</div>
  <div class="card">
<h3 class="card-header">{{book.title}}</h3>
<h5 class="card-body"><b>Author:</b> {{book.author}}</h5>
<h5 class="card-body"><b>Published by:</b> {{book.publisher}}</h5>
<h5 class="card-body"><b>Published in:</b> {{book.publishedDate}}</h5>
<h5 class="card-body"><b>Number of pages:</b> {{book.pageCount}}</h5>
<h5 class="card-body"><b>Description:</b> {{book.description}}</h5>

<form action="add-book" method="post">
  <input type="hidden" name="title" value="{{bookDetails.data.volumeInfo.title}}">
  <input type="hidden" name="description" value="{{bookDetails.data.volumeInfo.description}}">
  <input type="hidden" name="authors" value="{{bookDetails.data.volumeInfo.authors}}">
  <input type="hidden" name="image" value="{{bookDetails.data.volumeInfo.imageLinks.thumbnail}}">
  <button class="btn btn-default btn-danger" type="submit">Delete this book</button>
  <button class="btn btn-default btn-outline-primary" type="submit">Back</button>
</form>
</div>
  </div>