<div class="jumbotron">

<div class="text-center mb-4">
<img src="{{book.image}}" alt="Book Cover" >
</div>
  <div class="card">
<h3 class="card-header">{{book.title}}</h3>
<h5 class="card-body"><b>Author:</b> {{book.authors}}</h5>
<h5 class="card-body"><b>Published by:</b> {{book.publisher}}</h5>
<h5 class="card-body"><b>Published in:</b> {{book.publishedDate}}</h5>
<h5 class="card-body"><b>Number of pages:</b> {{book.pageCount}}</h5>
<h5 class="card-body"><b>Description:</b> {{book.description}}</h5>
<div class="d-flex">
{{#if roleAdmin}}
<button class="btn btn-default btn-danger marg-rigth" type="submit"><a class="buttondecnone" href="/library/{{libraryID}}/book/{{book._id}}/remove">Delete this book</a></button>
{{/if}}
<button class="btn btn-default btn-outline-primary" type="submit"><a class="buttondecnone" href="/library/{{libraryID}}">Back</a></button>
</div>
</div>
  </div>