<div class="jumbotron">
  <div class="card">
    <form action="/library/{{library._id}}/edit-library" method="post">
      <h4 class="card-header">Edit your library</h4>
      <div class="card-body">
        <h6 class="card-title"><label for="title"><b>Title:</b></label>
          <input type="text" name="title" value="{{library.title}}">
        </h6>
        <h6 class="card-title">
          <label for="subtitle"><b>Subtitle:</b></label>
          <input type="text" name="subtitle" value="{{library.subtitle}}">
        </h6>
        <h6 class="card-title">
          <label for="description"><b>Description:</b></label>
          <input type="text" name="description" value="{{library.description}}">
        </h6>
        <hr class="my-4">
        <h5>Usuários Cadastrados:</h5>
        <ol class="ml-3">
          {{#each library.users}}
          <li>{{this.name}}</li>
          {{/each}}
        </ol>
        <hr class="my-4">
        <h5>Livros Cadastrados:</h5>
        {{!-- <ul> --}}
          {{#each library.books}}
          <p>- {{this.title}}</p>
          {{/each}}
          <button class="btn btn-default btn-primary" type="submit">Save</button>
        {{!-- </ul> --}}
    </form>
  </div>
</div>