<h2>Livros Cadastrados</h2>

<button class="btn btn-secondary addLivro" type="submit"><a href="/library/{{library._id}}/search">Adicione um livro</a></button>
{{!-- To use --}}
<div class="card-deck">
  {{#each library.books}}
<div class="card col-md-3 col-sx-12" style="width: 18rem;">
  <img src="{{this.image}}" alt="Book Cover" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <h6>Usuário atual: {{this.actualUserID.name}}</h6>
    <p class="card-text">book details.</p>
    <a href="/library/{{libraryID}}/book/{{this._id}}/add-user-waitingList" class="btn btn-primary">Add me to the Waiting List</a>
    <a href="#" class="btn btn-primary">Book details</a>
  </div>
</div>
{{/each}}
</div>